<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.ycn.todo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="7"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:debuggable="true">
        <activity
                android:name="MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vnd.ycn.task"/>
            </intent-filter>
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.ycn.task"/>
            </intent-filter>
        </activity>

        <provider
                android:authorities="cc.ycn.todo.TaskProvider"
                android:name="cc.ycn.dao.TaskProvider"
                android:label="@string/provider_label"
                android:exported="true"
                android:multiprocess="true">
        </provider>
    </application>
</manifest>
